@keyframes blink-red {
  to {
    background: #bf616a;
    background-color: #bf616a;
    color: #000000;
  }
}
* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome, IBM Plex Mono, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #3B4252;
  background-color: #3B4252;
  color: #ECEFF4;
  border: none;
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: #3B4252;
  border: 1px solid #4C566A;
}
tooltip label {
  color: white;
}

label:focus {
  background-color: #2E3440;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}
#workspaces button:hover {
  background: #4C566A;
  color: white;
}
#workspaces button.focused {
  background: #81A1C1;
  background-color: #81A1C1;
  box-shadow: inset 0 -3px #ECEFF4;
}
#workspaces button.urgent {
  background: #bf616a;
  background-color: #bf616a;
}

.modules-left widget:first-child #workspaces {
  margin-left: 0;
}

.modules-right widget:last-child #workspaces {
  margin-right: 0;
}

#mode {
  background: #81A1C1;
  background-color: #81A1C1;
  border-bottom: 3px solid white;
}

#mode, #clock, #battery {
  padding: 0 10px;
}

#clock {
  background: #a3bbd2;
  background-color: #a3bbd2;
  color: #2E3440;
}

#cpu {
  background: #A3BE8C;
  background-color: #A3BE8C;
  color: #2E3440;
}

#memory {
  background: #5E81AC;
  background-color: #5E81AC;
}

#disk {
  background: #bf616a;
  background-color: #bf616a;
}

#backlight {
  background: #8FBCBB;
  background-color: #8FBCBB;
}

#network {
  background: #5E81AC;
  background-color: #5E81AC;
}
#network.disconnected {
  background: #D08770;
  background-color: #D08770;
}

#pulseaudio {
  background: #EBCB8B;
  background-color: #EBCB8B;
  color: #2E3440;
}
#pulseaudio.muted {
  background: #D8DEE9;
  background-color: #D8DEE9;
}
#pulseaudio.bluetooth {
  background: #5E81AC;
  background-color: #5E81AC;
}

#temperature {
  background: #D08770;
  background-color: #D08770;
  color: #2E3440;
}
#temperature.critical {
  background: #bf616a;
  background-color: #bf616a;
  color: #ECEFF4;
  animation-name: blink-red;
  animation-duration: 0.5s;
  animation-timing-function: step(12);
  animation-interation-count: infinite;
  animation-direction: alternate;
}

#tray menu {
  background: #81A1C1;
  background-color: #81A1C1;
  color: #2E3440;
}
#tray .passive {
  -gtk-icon-effect: dim;
}
#tray .needs-attention {
  -gtk-icon-effect: highlight;
}

#language {
  background: #A3BE8C;
  background-color: #A3BE8C;
  color: #B48EAD;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #bdd0ad;
  background-color: #bdd0ad;
  color: #2E3440;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}
#keyboard-state label {
  padding: 0 5px;
}
#keyboard-state label.locked {
  background: #3f4758;
  background-color: #3f4758;
}
