@import "sass/mixins";
@import "sass/animations";

$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;
$nord11: #bf616a;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, IBM Plex Mono, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    @include bg($nord1);
    color: $nord6;
    border: none;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;

    &.hidden {
        opacity: 0.2;
    }
}

tooltip {
    background: $nord1;
    border: 1px solid $nord3;
    label {
        color: white;
    }
}

label {
    &:focus {
        background-color: $nord0;
    }
}

#workspaces {
    button {
        padding: 0 5px;
        @include bg(transparent);
        color: #ffffff;
        /* Use box-shadow instead of border so the text isn't offset */
        box-shadow: inset 0 -3px transparent;
        /* Avoid rounded borders under each workspace name */
        border: none;
        border-radius: 0;
        &:hover {
            background: $nord3;
            color: white;
        }
        &.focused {
            @include bg($nord9);
            box-shadow: inset 0 -3px $nord6;
        }
        &.urgent {
            @include bg($nord11);
        }
    }
}

.modules-left {
    widget:first-child {
        #workspaces {
            margin-left: 0;
        }
    }
}

.modules-right {
    widget:last-child {
        #workspaces {
            margin-right: 0;
        }
    }
}

#mode {
    @include bg($nord9);
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#clock {
    @include bg(lighten($nord9, 10%));
    color: $nord0;
}

#cpu {
    @include bg($nord14);
    color: $nord0;
}

#memory {
    @include bg($nord10);

}

#disk {
    @include bg($nord11);
}

#backlight {
    @include bg($nord7);
}

#network {
    @include bg($nord10);
    &.disconnected {
        @include bg($nord12);
    }
}

#pulseaudio {
    @include bg($nord13);
    color: $nord0;
    &.muted {
        @include bg($nord4);
    }
    &.bluetooth {
        @include bg($nord10);
    }
}

#temperature {
    @include bg($nord12);
    color: $nord0;
    &.critical {
        @include bg($nord11);
        color: $nord6;
        @include blink-animation(blink-red);
    }
}

#tray {
    menu {
        @include bg($nord9);
        color: $nord0;
    }
    .passive {
        -gtk-icon-effect: dim;
    }
    .needs-attention {
        -gtk-icon-effect: highlight;

    }
}

#language {
    @include bg($nord14);
    color: $nord15;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    @include bg(lighten($nord14, 10%));
    color: $nord0;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
    label {
        padding: 0 5px;
        &.locked {
            @include bg(lighten($nord0, 8%));
        }
    }
}
