@mixin bg($color) {
    background: $color;
    background-color: $color;
}

@mixin blink-color($name, $bg, $fg) {
    @keyframes blink-#{$name} {
        to {
            @include bg($bg);
            color: $fg
        }
    }
}

@mixin blink-animation($blink-name) {
    animation-name: $blink-name;
    animation-duration: 0.5s;
    animation-timing-function: step(12);
    animation-interation-count: infinite;
    animation-direction: alternate;
}
